@import "reset.css";

body {
    background-color: aqua;
    display: flex;
    margin: 0 auto;
}

.container{

    width: 1270px;
    height: 100vh;
    margin: 0 auto;
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img(11).jpg");
    box-sizing: border-box;


}
.form{
    width: 900px;
    height: 600px ;
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    padding: 30px 20px;
    box-sizing: border-box;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 24px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;


}
.yourInformation{
    margin: 10px 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.emailInput{
    width: 625px;
}

h4 + input {
    margin-left: 120px;
}

input{
    font-size: 0.8em;
}
.input {
    width: 300px;
}
input + input {
    margin-left: 20px;
}

h1 {
    font-size: 1.5em;
}

h4 {

    font-size: 0.8em;
}

.h4 {
    margin: 20px 0;
}

div + div {
    margin-top: 10px;
}

.userEmail{
    width: 625px;

}
.userPhone{
    width: 188px;
}

.userPhoneMargin{
    margin-left: 150px;
}
#messageSubject{
    margin-left: 73px;
    width: 630px;
    font-size: 0.8em;
}
.message {
    margin-left: 130px;
    width: 625px;
    height: 100px;
}

hr{
    width: 100%;
    border: none;
    height: 2px;
    color: black;
    background-color: black;
}

.submit{
    border: 2px solid black;
    width: 860px;
    height: 40px;
    background-color: transparent;
}